
<p>
  <strong>name:</strong>
  <%= @subcriber.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @subcriber.email %>
</p>
 
<%= link_to 'Edit', edit_subcriber_path(@subcriber) %> |
<%= link_to 'Back', subcribers_path %>